{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}


<main class="h-100">
  <div class="container">
    <section class=" mb-5">
      <div class="row wow fadeIn">
        <div class="col-12 mt-5 d-flex flex-column justify-content-around align-items-center">
          <div class="card p-5 mt-5">
            <h1 class="text-center card-title">{% trans "Sign Out" %}</h1>

            <p>{% trans 'Are you sure you want to sign out?' %}</p>

            <form method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}
              {{ form | crispy }}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <a href="/" class="btn btn-primary"> Cancel </a>
              <button class="btn btn-danger" type="submit">{% trans 'Sign Out' %}</button>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>


{% endblock %}