<footer class="page-footer text-center font-small mt-5 wow fadeIn">

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
      <a href="http://instagram.com/vvishnu___" target="_blank">
        <i class="fab fa-instagram mr-3"></i>
      </a>

      <a href="https://github.com/vishnuramv" target="_blank">
        <i class="fab fa-github mr-3"></i>
      </a>

      <a href="https://www.linkedin.com/in/vishnu1902/" target="_blank">
        <i class="fab fa-linkedin-in mr-3"></i>
      </a>

      <a href="https://twitter.com/vvishnu__" target="_blank">
        <i class="fab fa-twitter mr-3"></i>
      </a>

      <a href="https://www.facebook.com/vvishnu1902" target="_blank">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>


    </div>
    <!-- Social icons -->


  </footer>